.test-velocidad {
  max-width: 800px; /* establece un ancho máximo para la página */
  margin: 40px auto; /* centra la página horizontalmente */
  padding: 40px;
  background-color: #f9f9f9; /* fondo claro */
  border: 1px solid #ddd; /* borde delgado */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* sombra leve */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-container {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-field {
  padding: 10px 20px;
  margin-bottom: 20px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  background-color: #b7d1a3; /* color5 */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.input-field::placeholder {
  color: #5e3929; /* color2 */
  font-weight: 300;
  padding: 10px;
  border-radius: 10px;
}

.input-field:focus {
  outline: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  background-color: #fff;
}

.btn-submit {
  background-color: #b7d1a3; /* color3 */
  color: #5e3929; /* color1 */
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

.btn-submit:hover {
  background-color: #fcf7d3; /* color5 */
}

.test-velocidad h1 {
  color: #5e3929;
  margin-bottom: 20px;
}

.results-container {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.results-container iframe {
  width: 55%; /* ancho del iframe */
  height: 400px; /* altura del iframe */
  margin: 10px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Media queries para responsividad */
@media (max-width: 600px) {
 .test-velocidad {
    padding: 20px;
  }
 .input-field {
    padding: 10px;
  }
 .btn-submit {
    padding: 10px;
  }
 .results-container iframe {
    width: 90%;
    height: 250px;
  }
}
h2 {
  text-align: center;
}